*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2D2D2D; 
    overflow: hidden;
}
.title{
    color: #FFFF;
    font-family: 'Handlee', cursive;
    font-size: 64px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar_title{
    display: flex;
    flex-direction: row;
    font-family: 'Handlee', cursive;
    font-size: 48px;
    color: #FFFF;
}
.navbar_title div{
    margin-right: 50px;
    margin-top: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-board{
    display: flex;
    flex-direction: row;
    width: 48%;
    margin-left: 50px;
}
.container-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 300px;
    margin-right: 150px;
}
.container-selection_1{
    margin-bottom: 350px;
}
.container-selection_2{
    margin-top: 250px;
}
.container-selection_3{
    margin-bottom: 250px;
}
.container-board-question{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 420px;
    left: 187px;
    position: absolute;
} 
.routerButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.background-red {
    background-color: red;
  }
  
  .background-green {
    background-color: greenyellow;
  }